/**
 * @file
 * Customization for Dual
 * test
 */

@import "base";

//
//
// Styles for the site
//
//

/**
 * @file
 * Customization for Dual
 *
 */
/* *******************
   Color Variables
******************* */
/* *******************
 		Mixins
******************* */

body {
  font-size: 95%;
}

main {
  background-color: #ffffff !important;
  background-image: none;
  margin: 0.1em 0 4.25em;
  padding-top: 0 !important;
}

table {
  border-collapse: collapse;
  font-size: 95%;
  font-family: Verdana,"DejaVu Sans",sans-serif;
}

tr:nth-of-type(odd) {
  background: #fff;
}

tr:nth-of-type(even) {
  background: #fff;
}

table .hours-today-row {
  //background: #fff none repeat scroll 0 0;
}

#features-table tr:nth-of-type(2n+1), #features-table tr:nth-of-type(2n) {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

th {
  font-weight: normal;
  background-color: #fff !important;
  padding: 10px !important;
  border-bottom: 0px solid #E9E9E9 !important;
  border-top: 0px solid #E9E9E9 !important;
}

td, th {
  padding: .5em;
  text-align: left;
  background-color: #fff;
}

tr {
  border-bottom: 0px solid white;
}

td, th {
  border-right: 0px solid white;
}

header {
  position: relative;
  width: 100%;
}

#logoImage {
  height: 275px !important;
}

header #header-custom-height-2ndlevel {
  height: 75px !important;
}

//NEW OR CHANGED FOR NEW SITE BELOW

header[role="banner"] {
    padding-top: 3.2em !important;
}

.front .site-header {
    width: 100%;
}

.western-header nav {
  top: 3px !important;
}

.front-page-banner {
  max-height: 300px !important;
  border: none !important;
}

//NEW OR CHANGED FOR NEW SITE ABOVE

.site-name {
  display: none;
}

.parent-site-header {
  height: 34px;
  background-color: #0083d6;
  width: 100%;
  font-size: 110%;
  font-weight: bold;
}

#newsitetitle {
  color: #003F87;
  position: absolute;
  top: 11px;
  left: -423px;
  line-height: 24px;
  text-transform: uppercase;
  font-size: 120%;
  font-weight: 500;
}

#newsitetitle a {
  color: #0070b6;
}

.parent-site-header a {
  color: #ffffff;
  display: block;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.parent-site-header a:hover, .parent-site-header a:active, .parent-site-header a:focus, .parent-site-header a:visited {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
  color: #ffffff;
}

header#department {
  display: none;
}

.home-cal {
  margin-left: 15px;
  width: 300px;
}

//NEW OR CHANGED FOR NEW SITE BELOW

#post-it-note-pos {
    background-color: white;
    border-color: #003f87;
    border-radius: 0px;
    border-style: solid;
    border-width: 30px 20px 20px;
    height: 35px;
    padding-top: 2px;
    position: absolute;
    right: 97px;
    top: 102px;
}

#post-it-note-pos h5 {
    color: #fff;
    text-transform: uppercase;
    position: relative;
    top: -40px;
}


#post-it-note-pos p {
    color: #000;
    font-size: small;
    padding-left: 8px;
    position: relative;
    top: -28px;
}



#post-it-note-pos-not-home {

    //height: 35px;
    //padding-top: 2px;
    position: absolute;
    right: 97px;
    top: 35px;
    font-size: small;
}

#post-it-note-pos-not-home hr {
  position: relative;
  top: -20px;
  margin-bottom: -32px;
}

#post-it-note-pos-not-home #hourstext {
    line-height: 20px;
}

#post-it-note-pos-not-home .s-lc-time, #post-it-note-pos-not-home .s-lc-closed, #post-it-note-pos-not-home .s-lc-h-excep, #post-it-note-pos-not-home .s-lc-timetxt {
    color: #000;
    display: block;
    float: right;
    margin-top: -45px;
}

.s-lc-hours-note.s-lc-h-excep {
  display: none !important;
}

#post-it-note-pos-not-home .hours-col-loc, #post-it-note-pos-not-home .s-lc-note {
    display: none;
}

#post-it-note-pos-not-home table.hours-today td {
    padding-bottom: 8px;
    width: 178px;
    background-color: #fff !important;
}

#post-it-note-pos-not-home .chat-room {
    border-bottom: medium none !important;
    margin-top: -47px !important;
    text-indent: 0;
}


#libchat_a1b7f743a27bb400d8f4907e0f08ddb5 {
    left: -9px;
    position: relative;
    top: -68px;
}

#libchat_25ecd1c837ff5c01c7e13e8278df676a img {
    margin-left: -3px;
}

#todaynew a {
  color: #fff !important;
  //float: right;
  //padding-left: 4px;
}

#todaynew {
  color: #fff !important;
  //float: right;
  //padding-right: 18%;
  font-size: 85%;
}

#todaynew a:hover {
  text-decoration: underline;
}

.hours-col-loc, .s-lc-note {
  display: none;
}


#api_hours_today_iid388_lid0 {

}


#post-it-note-pos2 {
    background-color: #003f87;
    height: 63px;
    position: absolute;
    right: 115px;
    top: 93px;
    width: 139px;
}

#hourstext {
   // background-color: #fff;
   // height: 35px;
    margin-left: auto;
    margin-right: auto;
   // padding-left: 0;
   // padding-top: 14px;
    text-indent: 4px;
   // width: 98px;
    line-height: 10px;    
}

#todaynew > img {
    float: right;
    padding-right: 4px;
    position: relative;
    top: -3px;
}

table.hours-today td {
    padding: 5px;
    width: 130px;
    position: relative;
    right: 0;
    top: 0;
}


//NEW OR CHANGED FOR NEW SITE BELOW

table.hours-today {
//  position: absolute;
//  right: 100px;
//  top: 90px;
  
//  z-index: 1;
  
}

table.hours-today td {
//  position: relative;
// line-height: 16px;
//  background-color: #fff;
//  border: 40px solid #0083d6;
}


//NEW OR CHANGED FOR NEW SITE ABOVE


#inside-search-box {
  background-color: rgba(0, 0, 0, 0.7);
}

input.rounded {
  border: 0px solid #ccc;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 4px;
  -moz-box-shadow: 2px 2px 3px #666;
  -webkit-box-shadow: 2px 2px 3px #666;
  box-shadow: 2px 2px 3px #666;
  font-size: 13px;
  color: #666666;
  padding: 4px 4px;
  margin-left: 15px;
  outline: 0;
  -webkit-appearance: none;
  width: 300px;
}

input.rounded:focus {
  border-color: #808080;
}

//NEW OR CHANGED FOR NEW SITE BELOW

select.rounded {
  border: 0px solid #ccc;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 4px;
  -moz-box-shadow: 2px 2px 3px #666;
  -webkit-box-shadow: 2px 2px 3px #666;
  box-shadow: 2px 2px 3px #666;
  font-size: 13px;
  color: #8E8E8C;
  padding: 3px 3px;
  margin-left: 0px;
  outline: 0;
  height: 24px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(http://library.wwu.edu/sites/library.wwu.edu/files/images/dropdown_arrow_on.gif) no-repeat right white;
}

//NEW OR CHANGED FOR NEW SITE ABOVE

select.rounded option.room {
  font-size: 13px;
  padding-top: 4px !important;
}

input.roundedbutton {
  border: 1px solid #fff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 4px;
  -moz-box-shadow: 2px 2px 3px #666;
  -webkit-box-shadow: 2px 2px 3px #666;
  box-shadow: 2px 2px 3px #666;
  font-size: 14px;
  padding: 2px 5px;
  margin-left: 1px;
  outline: 0;
  -webkit-appearance: none;
  background: #bad80a;
  color: #003f87;
}

input.roundedbutton:focus {
  border-color: #808080;
}

input.roundedbutton:hover {
  background: #ffffff;
  color: #003f87;
  border-color: #003f87;
}

.mywesternlinks {
  margin: 20px 0px 90px 5px;
}

#api_search_group_iid572 select {
  width: 250px !important;
}

.tagline {
  position: relative;
  left: 70px;
  font-weight: normal;
}

.cal-link {
  position: relative;
  top: -25px;
  left: 40px;
}

.home-chat {
  margin-top: -20px;
}

div.home-chat span {
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  float: right;
  padding-right: 10px;
}

.home-chat {
  float: right;
  padding: 40px 40px 0px 0px;
}

.set-height {
  min-height: 395px;
  max-height: 395px;
}

footer a {
  color: #ffffff;
  text-align: left;
}

#panel-home-4col {
  border: 0px #E9E9E9 solid;
  max-height: 800px;
  min-height: 400px;
  padding: 5px;
}

#servicesfor {
  height: 460px;
}

#acct-access {
  height: 460px;
}

#acct-access li {
  margin-left: -10px;
}

#newsevents {
  height: 460px;
}

#newsevents li {
  margin-left: -10px;
}

#newsevents ul {
  border: 0px solid #E9E9E9 !important;
  background-color: #fff;
}

#eventscal {
  height: 460px;
}

#servicesfor li, #acct-access li, #newsevents li {
  padding-top: 10px;
}

#panel-home-4col .panel-panel {
  border: 0px #E9E9E9;
  border-style: solid;
  min-height: 400px;
  max-height: 600px;
  margin-bottom: -5px !important;
}

#panel-home-4col .pane-title {
  background-color: #bad80a;
  padding: 5px 5px;
  font-size: 95%;
  font-weight: bold;
  margin-top: 0px;
  margin-left: 0px;
  width: 95%;
}

#panel-home-4col .more-link {
  float: right;
  font-size: small;
  padding-top: 10px;
  padding-right: 10px;
}

#libcal {
  margin: 20px;
}

.showtight {
  float: right;
  font-size: small;
  margin-top: -15px;
}

#api_upc_cid3673_iid388 .s-lc-ea-l, .s-lc-ea-tdes, .s-lc-ea-tcat, .s-lc-ea-h3, .s-lc-ea-tpre {
  display: none;
}

#api_upc_cid3673_iid388 td {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

#api_upc_cid3673_iid388 td a {
  padding-top: 0px !important;
}

#api_upc_cid3673_iid388 tr {
  background-color: rgba(0, 0, 0, 0);
  border-bottom: #ececec 0px dotted !important;
  line-height: 18px;
  font-size: 90%;
}

/* Events*/

.tevent {
  @import "//fonts.googleapis.com/css?family=Muli:400,400italic";
  font-family: Muli,Tahoma,Verdana,"DejaVu Sans",sans-serif !important;
  font-size: 90% !important;
  width: 100% !important;
  border-bottom: 1px dotted #ccc !important;
  border-collapse: separate !important;
  border-spacing: 1px !important;
  margin-bottom: 0.5em !important;
  margin-top: 0.7em !important;
}

.hrmenu {
  border: 0;
  height: 1px;
  width: 75%;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.tevent {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 0.7em !important;
  margin-top: 0.7em !important;
}

#landing-page .panel-pane, .panelizer-view-mode .panel-pane {
  border: 4px 4px 0px 4px !important;
  border-color: #E9E9E9 !important;
  border-style: solid !important;
  padding: 10px !important;
  margin-bottom: 10px !important;
  margin-top: 22px !important;
}

#landing-page .panel-pane, .panelizer-view-mode .panel-pane h2 {
  padding-top: 0px !important;
}

.pane-node-content .pane-title {
    margin-top: -33px;
    padding-bottom: 10px;
    text-indent: -14px;
}

.pane-wisful-thinking-blog-panel-pane-1 .pane-title {
  margin-top: -33px;
  padding-bottom: 10px;
  text-indent: -14px;
}

.views-field.views-field-field-wis-ful-topic {
    margin-top: -35px;
}

#block-entity-taxonomy-term-full .block-title {
    margin-top: -33px;
}


.pane-entity-field, .pane-node-links.link-wrapper {
  border: 0px;
}

.view-id-cpnws .view-footer li, .view-id-giving_page .view-footer li {
  margin-left: 30px !important;
  font-size: 0.925em;
}

#title10063557.headerbox, #title2463523.headerbox, #title9366115.headerbox, #title10881926.headerbox, #title11048036.headerbox, #profile_links, #api_profile_uid89788_iid572 .headerbox, #api_profile_uid14753_iid572 .headerbox, #api_boxes_iid92_boxmoreways .la_headerbox, #la_qid_443257 .la_topics {
  display: none !important;
}

.outerbox {
  padding: 0px !important;
}

#api_box_iid572_bid10881926 {
  background-color: #000000 !important;
}

.jonroom {
  margin-top: 30px;
}

.jonroom2 {
  margin-top: -30px;
}

.pane-block h2, .pane-views h2 {
  font-size: 19px;
  margin-top: 0.5em;
}

.pane-block h2 img, .pane-views h2 img {
  vertical-align: middle;
}

.footer-left {
  margin-left: 3%;
}

.footer-left #footer-left-heading h3 {
  font-size: 1.3em;
  color: #ffffff;
  margin-top: 14px;
}

.footer-left #footer-left-contact-info {
  padding-right: 1.25em;
  margin-top: 1.500em;
  font-size: 0.75em;
}

.footer-left p:first-child, .footer-left dl:first-child {
  font-size: 95%;
  line-height: 1.7;
  margin-bottom: 1.500em;
  display: block;
  clear: both !important;
}

.footer-left #footer-left-contact-info img {
  float: left;
  padding-right: .625em;
}

.footer-left #footer-left-contact-info p {
  margin-bottom: 10;
}

.footer-left #footer-left-contact-info a {
  color: white;
}

.view-id-library_exhibits .view-display-id-page_4 img {
  float: left;
  margin: 5px 5px 20px 10px;
  padding: 0;
}

.view-id-library_exhibits td {
  border-bottom: 2px dotted #333333;
  width: 50%;
  vertical-align: top;
}

.view-id-library_exhibits .col-1 {
  border-right: 1px dotted #333333;
}

.view-id-library_exhibits li {
  display: block;
  list-style: none;
  text-decoration: none;
}

.site-header .site-banner {
  max-height: 170px;
  overflow: hidden;
}

#header-custom-height-2ndlevel .site-banner img {
    display: none;
}

.page-title {
  margin-bottom: .5em;
}

.page-title h1 {
  display: none;
}

#online-chat {
  float: right;
  margin-top: 4px;
  padding-right: 60px;
}

.pane-news article {
  border-bottom: 3px solid #E9E9E9;
  padding: 10px 0px;
}

#newsview .field-name-taxonomy-vocabulary-6 {
  display: none;
}

#speccol-header img {
  margin: 5px auto;
  display: block;
}



.view-id-staff_directory th {
background-color: #ececec !important;
}

.speccol-otherblock .pager {
    display: none;
}

/* ****************************************************
                   start 3 things
**************************************************** */

#table_newsletter, #header_newsletter h1, #header_newsletter h2, #header_newsletter p {margin: 0; padding: 0;}

#top-message p, #bottom-message p {color: #3f4042; font-size: 12px; font-family: Arial, Georgia, "Times New Roman"; }

#header_newsletter h1 {color: #ffffff !important; font-family: Arial, Georgia, "Times New Roman"; font-size: 24px; margin-bottom: 0!important; padding-bottom: 0; }

#header_newsletter h2 {color: #ffffff !important; font-family: Arial, Georgia, "Times New Roman"; font-size: 24px; margin-bottom: 0 !important; padding-bottom: 0; }

#header_newsletter p {color: #ffffff !important; font-family: Verdana, Arial, Georgia, "Times New Roman"; font-size: 10px; font-weight: bold; margin: 2px 3px 2px 3px; }

#header_newsletter a:link, #header_newsletter a:visited, #header_newsletter a:active, #header_newsletter a:hover {color: #ffffff !important; font-family: Verdana, Arial, Georgia, "Times New Roman"; font-size: 10px; font-weight: bold; margin: 2px 3px 2px 3px; }

#main_newsletter {border: 1px solid #2C2C2C; }

#table_newsletter img {display: block; padding:10px;}

#table_newsletter a {color: #4A72AF;}

#table_newsletter h1, #table_newsletter h2, #table_newsletter h3, #table_newsletter h4, #table_newsletter h5, #table_newsletter h6 {margin: 0 0 0.8em 0;}

#table_newsletter h3 {font-size: 28px; color: #444444; font-family: Arial, Georgia, "Times New Roman"; }

#table_newsletter h4 {font-size: 22px; color: #4A72AF; font-family: Arial, Georgia, "Times New Roman"; }

#table_newsletter h5 {font-size: 15px; color: #ffffff; font-family: Arial, Georgia, "Times New Roman"; padding: 3px; }

#table_newsletter p {font-size: 12px; color: #444444; font-family: Verdana, Arial, Georgia, "Times New Roman"; line-height: 1.5; }

#introtext {padding:5px !important; font-size: 12px; color: #444444; font-family: Verdana, Arial, Georgia, "Times New Roman"; line-height: 1.5; background-color: #EDF3F8;}

.three_things_block {
border-bottom: 0px solid;
padding-bottom: 3px;
}

.field-name-field-3-things-article-title {
  font-size: 28px; color: #444444;
  line-height: 100%;
  margin-bottom: -10px;
}

.field-name-field-3-things-author .field-label {
  font-weight: normal;
}

.field-name-field-3-things-author-title {
  margin: -20px 0px;
}

.node-type-3-things-article .panel-pane {
  border: 4px 4px 0px 4px !important;
  border-color: #E9E9E9 !important;
  border-style: solid !important;
  padding: 10px !important;
  margin-bottom: 10px !important;
}

.node-type-3-things-article .pane-1, .panel-flexible .pane-library-newsletter {
border: 0px !important;
}

.panel-flexible .node-title {
  display: none !important;
}

.panel-flexible #new3things table  {
  margin-top: -4px;
  margin-left: 0px;
}

.threethings-right-col {
  width: 19% !important;
}

#landing-page .pane-library-newsletter {
  
}

.pane-simplenews-18960 .pane-title {
  line-height: 1.2em;
}

#simplenews-block-form-18960 .form-item .form-text {
  width: 95%;
}

.usability-study {
    background: #0070b6 none repeat scroll 0 0;
    margin: 35px auto auto;
    text-align: center;
    width: 300px;
    border: 1px solid transparent;
    font-weight: 300;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.usability-study a {
    color: #fff;
}

td .footer-color2 {
  background-color: #003e87 !important;
}

td .footer-color {
  background-color: #c5dd03 !important;
}

/* ****************************************************
                   end 3 things
**************************************************** */

.subscribe {
  float: right;
  margin-top: -30px;
  background: url("images/email.png") left center no-repeat; /* LTR */
  padding: 2px 0 2px 18px; /* LTR */
}

.view-id-Digital_Collections td img {
  float: left;
  margin: 7px 17px 40px 5px;
  background: none repeat scroll 0 0 #000000;
  padding: 3px;
  clear: both;
}

#webform-client-form-15507 .fieldset-legend {
  color:#000;
  font-size:30px;
} 

#testsearchbox {
  background-color: rgba(0, 131, 214, 0.6);
  font-size: 0.8em;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  border: 0px solid rgba(0, 0, 0, 0.5);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 4px;
  max-width: 1000px;
  min-width: 650px;
  line-height: 28px;
}

.bartlett-flipped-sidebar-inner {
margin-top: 0px;
}

.preamble-pane .pane-title {
line-height: 30px;
}

.form-submit {
  background-color: #ececec;
  }

.webform-component--supervisor-approval, .webform-component--additional-supervisor-approval, .webform-component--division-director-approval {
    display: none !important;
}

.form-warning {
  font-weight: bold;
}

.factable{
		width:100%; 
		border-collapse:collapse; 
	}
	.factable td{ 
		padding:10px; 
		border:#003F87 1px solid;
		vertical-align: top;
		width: 25%;
	}
	
	.factable td a{ 
		line-height: 130% !important;
	}
	
	/* provide some minimal visual accomodation for IE8 and below */
	.factable tr{
		background: #DCEB84 !important;
	}
	/*  Define the background color for all the ODD background rows  */
	.factable tr:nth-child(odd){ 
		background: #DCEB84 !important;
	}
	/*  Define the background color for all the EVEN background rows  */
	.factable tr:nth-child(even){
		background: #fff !important;
	}

.gradtable{
		width:100%; 
		border-collapse:collapse; 
	}
	.gradtable td{ 
		padding:10px; 
		border:#003F87 1px solid;
		vertical-align: top;
		width: 25%;
	}
	
	.gradtable td a{ 
			line-height: 130% !important;
	}
	
	/* provide some minimal visual accomodation for IE8 and below */
	.gradtable tr{
		background: #DCEB84 !important;
	}
	/*  Define the background color for all the ODD background rows  */
	.gradtable tr:nth-child(odd){ 
		background: #DCEB84 !important;
	}
	/*  Define the background color for all the EVEN background rows  */
	.gradtable tr:nth-child(even){
		background: #fff !important;
	}
	

.hr-taxonomy {
height: 3px; border: 0; background: #dceb84; box-shadow: inset 0 10px 10px -12px rgba(0, 0, 0, 0.5);
}

.taxonomy-content {
border-color: #e9e9e9 !important; border-style: solid !important; margin-bottom: 10px !important; padding: 30px !important;
}

.taxonomy-content-rtmenu {
border-color: #e9e9e9 !important; border-style: solid !important; margin-bottom: 10px !important; padding: 30px !important;
}

p.taxonomy-room {
margin-top: 9px;
}

#s-lg-widget-1454529608724 .label-info {
    background-color: #006b3f;
}
#s-lg-widget-1454529608724 .label {
    border-radius: 0.25em;
    color: #fff;
    display: inline;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    padding: 0.2em 0.6em 0.3em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

#s-lg-widget-1459792576683 .label-warning {
    background-color: #f0ad4e;
}
#s-lg-widget-1459792576683 .label {
    border-radius: 0.25em;
    color: #fff;
    display: inline;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    padding: 0.2em 0.6em 0.3em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

.s-lg-widget-list-description {
    font-size: 0.9em;
 }

.field-name-field-3-things-article-title {
  font-size: 28px; color: #444444;
  line-height: 100%;
  margin-bottom: -10px;
}

.field-name-field-3-things-author .field-label {
  font-weight: normal;
}

.field-name-field-3-things-author-title {
  padding-bottom: 20px;
}

.field-name-field-3-things-article-title {
  font-size: 28px; color: #444444;
  line-height: 100%;
  margin-bottom: -10px;
}

.field-name-field-3-things-author .field-label {
  font-weight: normal;
}

.field-name-field-3-things-author-title {
  margin: -20px 0px;
}

.node-type-3-things-article .panel-pane {
  border: 4px 4px 0px 4px !important;
  border-color: #E9E9E9 !important;
  border-style: solid !important;
  padding: 10px !important;
  margin-bottom: 10px !important;
}

.node-type-3-things-article .pane-1 {
  border: 0px !important;
}

.budgetfaq blockquote {
  background: #dceb84 !important;
}

//NEW OR CHANGED FOR NEW SITE BELOW

.rollover-sprite {
    display:block;
    height: 263px;
    width: 350px;
    background-image: url(https://library.wwu.edu/files/images/LIT-tour-sprite.jpg);
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: top;  /* <-- this is key #1 */
    margin-left: auto;
    margin-right: auto;
    width: 350px;
}

//NEW OR CHANGED FOR NEW SITE ABOVE

.rollover-sprite:hover {
    background-position: bottom; /* <-- this is key #2 */
}

.LibTours {
    float: left;
    width: 55%;
}

.LibTours2 {
    float: left;
    width: 100%;
    
}

.LibToursContact {
 //   float: right;
 //   margin-right: 5%;
    width: 100%;
    background: #fff; 
    overflow: hidden; 
    border: 1px solid #003f87; 
    border-radius: 2px;
//    margin-bottom: -20px;
}

.LibToursContact table thead th {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0083D6), color-stop(1, #003F87) );
    background:-moz-linear-gradient( center top, #0083D6 5%, #003F87 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0083D6', endColorstr='#003F87');
    background-color:#0083D6;
} 

.LibToursContact th h4 {
    text-align: center;
} 

.LibToursContact table {
    margin-top: 0px;
    margin-bottom: 0px;
}

.LibToursContact table td {
    padding-left: 15px;
    padding-top: 5px;
}

.LibToursContact table td.list {
    display:list-item;
    list-style:disc inside;
}

.pane-menu-menu-community-collections-res .pane-title {
    font-size: 17px;
}

.project-label {
    font-weight: bold;
}

#quickset-circulation_loan_periods .ui-accordion, #quickset-circulation_loan_periods .ui-accordion-header, #quickset-circulation_loan_periods_1 .ui-accordion, #quickset-circulation_loan_periods_1 .ui-accordion-header {
    padding-left: 2.2em;
}

.feesfines {
    width: 100%;
    margin-left: 100px;
    margin-top: 30px;
}

.myaccount {
    border: 1px solid #003f87;
    width: 75%;
    margin-bottom: 10px;
}

.cashnet {
    border: 1px solid #003f87;
    width: 75%;
}

.cashnet blockquote, .myaccount blockquote {
    max-width: 100%;
    background: #dceb84;
    margin-top: 0;
    margin-bottom: 0;
}





.modern {
  display: inline-block;
  margin-top: 7px;
  font-size:14px;
  padding: 8px 10px;
  background: #C5DB01;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  transition: all 0.3s ease-out;
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.5),
    0 2px 2px rgba(0,0,0,0.3),
    0 0 4px 1px rgba(0,0,0,0.2);

  /* Font styles */
  text-decoration: none;
  text-shadow: 0 1px rgba(255,255,255,0.7);
}

.modern2 {
  display: inline-block;
  padding: 8px 10px;
  background: #C5DB01;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  transition: all 0.3s ease-out;
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.5),
    0 2px 2px rgba(0,0,0,0.3),
    0 0 4px 1px rgba(0,0,0,0.2);

  /* Font styles */
  text-decoration: none;
  text-shadow: 0 1px rgba(255,255,255,0.7);
}

.modern3 {
    background: #c5db01 none repeat scroll 0 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 2px 2px rgba(0, 0, 0, 0.3), 0 0 4px 1px rgba(0, 0, 0, 0.2);
    display: inline-block;
    font-size: 95%;
    font-weight: 500;
    padding: 10px 5px;
    position: absolute;
    right: -25px;
    text-decoration: none;
    text-shadow: 0 1px rgba(255, 255, 255, 0.7);
    top: -48px;
    transition: all 0.3s ease-out 0s;
    width: 178px;
}

.modern3home {
  background: #bad80a none repeat scroll 0 0;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 2px 2px rgba(0, 0, 0, 0.3), 0 0 4px 1px rgba(0, 0, 0, 0.2);
    display: inline-block;
  padding: 10px 5px;
  font-size: 1.1em;
  font-weight: 700;
  text-align: center;
  border: 4px solid #fff;
  color: #0070b6;
  line-height: 19px;
  margin-top: 0px;
  position: absolute;
  right: -25px;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, 0.7);
  top: -72px;
  transition: all 0.3s ease-out 0s;
  width: 178px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.modern4 {
    background: #c5db01 none repeat scroll 0 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 2px 2px rgba(0, 0, 0, 0.3), 0 0 4px 1px rgba(0, 0, 0, 0.2);
    display: inline-block;
    font-size: 95%;
    font-weight: 500;
    padding: 10px 5px;
    position: absolute;
    right: -25px;
    text-decoration: none;
    text-shadow: 0 1px rgba(255, 255, 255, 0.7);
    top: 80px;
    transition: all 0.3s ease-out 0s;
    width: 175px;
}

.modern5 {
    display: none !important;
    background: #0083d6 none repeat scroll 0 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 2px 2px rgba(0, 0, 0, 0.3), 0 0 4px 1px rgba(0, 0, 0, 0.2);
    display: inline-block;
    font-size: 95%;
    font-weight: 500;
    padding: 10px 4px;
    position: absolute;
    right: -25px;
    text-decoration: none;
    text-shadow: 0 1px rgba(255, 255, 255, 0.7);
    top: 80px;
    transition: all 0.3s ease-out 0s;
    width: 175px;
    line-height: 17px;
    color: white;
    text-align: center;
}

#post-it-note-pos-not-home .modern3, #post-it-note-pos-not-home .modern3home, #post-it-note-pos-not-home .modern4, #post-it-note-pos-not-home .modern5 {
    display: none;
}

.modern:hover, .modern2:hover, .modern3:hover, .modern4:hover  { background: #d6e86c; text-decoration: underline; }

.modern3home:hover, .modern5:hover { text-decoration: underline; }

#newsevents a.modern {
    color: #005298 !important;
}

#lc-button a.modern {
    color: #005298 !important;
}


#logonform {
  width:65%;
}

form.f-wrap-1 label input, form.f-wrap-1 label textarea, form.f-wrap-1 label select {
  float:left;
  margin-left:10px;
  width:15em;
  margin-bottom: 12px;
}

form.f-wrap-1 label .field {
  display:block;
  float:left;
  line-height:1.7;
  position:relative;
  width:15em;
}

form.f-wrap-1 div.f-submit-wrap {
  padding:5px 0 5px 8em;
}

form.f-wrap-1 input.f-submit {
  margin: 10px 0px 0px 146px;
}

#faq-droppdown1{
  width: 500px;
}

.node-17312 #div1, .node-17312 #div2, .node-17312 #div3, .node-17312 #div4, .node-17312 #div5, .node-17312 #div6, .node-17312 #div7, .node-17312 #div8, .node-17312 #div9, .node-17312 #div10, .node-17312 #div11, .node-17312 #div12, .node-17312 #div13, .node-17312 #div14 {
  background-color: #ececec;
  margin: 10px;
  padding: 10px;
}

.view-who-am-i-game td {
  vertical-align: top;
}

ul.slides div.flex-caption a {
  font-size: 80% !important;
}

div.flex-caption {
  margin-top: 0 !important;
  background-color: #fff !important;
}

.node-19869 .flex-caption {
  background-color: 
  #000 !important;
  text-align: center;
}

.flexslider {
  border: 0px !important;
}

.node-17626 #div1, .node-17626 #div2, .node-17626 #div3, .node-17626 #div4, .node-17626 #div5, .node-17626 #div6, .node-17626 #div7, .node-17626 #div8, .node-17626 #div9, .node-17626 #div10, .node-17626 #div11, .node-17626 #div12, .node-17626 #div13 {
    background-color: #ececec;
    margin: 10px;
    padding: 3px;
}

.node-17625 #div1, .node-17625 #div2, .node-17625 #div3, .node-17625 #div4, .node-17625 #div5, .node-17625 #div6, .node-17625 #div7, .node-17625 #div8 {
    background-color: #ececec;
    margin: 10px;
    padding: 3px;
}

.node-17659 #div1, .node-17659 #div2, .node-17659 #div3, .node-17659 #div4, .node-17659 #div5, .node-17659 #div6, .node-17659 #div7, .node-17659 #div8, .node-17659 #div9, .node-17659 #div10 {
    background-color: #ececec;
    margin: 10px;
    padding: 3px;
}

.form-submit.ajax-processed {
    display: none;
}

#reserves-node-form .form-submit.ajax-processed {
    display: inline;
}

#faq-highlight #div1, #faq-highlight #div2, #faq-highlight #div3, #faq-highlight #div4, #faq-highlight #div5, #faq-highlight #div6, #faq-highlight #div7, #faq-highlight #div8, #faq-highlight #div9, #faq-highlight #div10, #faq-highlight #div11, #faq-highlight #div12, #faq-highlight #div13, #faq-highlight #div14, #faq-highlight #div15, #faq-highlight #div16, #faq-highlight #div17, #faq-highlight #div18, #faq-highlight #div19, #faq-highlight #div20 {
    background-color: #ececec;
    margin: 10px;
    padding: 3px;
}

.pane-menu-information-services-histor h4 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    width: 170px;
}

#announcement {
  background: #c5db01 none repeat scroll 0 0;
  border-radius: 4px;
  display: block;
  font-size: 15px;
  font-weight: bold;
  height: 70px;
  padding: 10px;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 50px;
  width: 120px;
}

//NEW OR CHANGED FOR NEW SITE BELOW

.parent-site-header {
    margin-bottom: 0px;
}

main .page-title {
    border-bottom: 3px solid #fff !important;
}

#news-events-table, #news-events-table th, #news-events-table tr, #news-events-table td {
  background-color: #e0e0e0 !important;
 
}

#news-events-table td {
  padding: 0.15em !important;
}

#news-events-table h4 {
  text-transform: uppercase;
}

#features-table {
  background-image: url("../images/ArchBG.jpg");
}

#features-table td img {
  border: solid 5px #009bd4 !important;
}

#features-table td h4 {
    color: #fff;
    font-size: 120%;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 10px;
}

#features-table tr {
  height: 2
}

ul.quicktabs-tabs.quicktabs-style-navlist {
  padding: 0;
  width: 35%;
}

.pane-quicktabs-information-services-for .pane-title {
  border-bottom: 2px solid #bfd0ff;
  display: block;
  width: 94%;
  margin-bottom: 0;
  border-spacing: 10px;
  line-height: 1.2em;
}

.pane-block-154 h4 {
    border-bottom: 2px solid #bfd0ff;
    margin-bottom: -8px;
    margin-left: 85px;
    margin-top: 11px;
    width: 67%;
    line-height: 1.1em;
}

.pane-block-154 table td {
    font-size: 95%;
    padding-top: 5px;
}

.quicktabs_main.quicktabs-style-navlist {
  background: #edf6fb none repeat scroll 0 0;
  border: 1px solid #bfd0ff;
  float: left;
  min-height: 64px;
  padding: 10px;
  position: relative;
  width: 55%;
  z-index: 1;
  margin-top: 15px;
  
}

ul.quicktabs-tabs.quicktabs-style-navlist li a {
    color: #404040;
    display: block;
    font-weight: normal;
    height: 30px;
    margin: 0;
    padding: 4px 10px 0 0;
    text-align: left;
    text-decoration: none;
    margin-top: 15px;
    
}

ul.quicktabs-tabs.quicktabs-style-navlist li.active a {
    color: #003f87;
    font-weight: bold;
    background-color: #edf6fb;
    border-top: 1px solid #bfd0ff;
    border-left: 1px solid #bfd0ff;
    border-bottom: 1px solid #bfd0ff;
    text-indent: 7px;
}

ul.quicktabs-tabs.quicktabs-style-navlist li.active {
    border-bottom: 0px solid #bfd0ff;
    border-top: 0px solid #bfd0ff;
}

.sutro-column {
    margin-top: -10px;
}

#quicktabs-information_services_for_ .block {
    line-height: 15px;
    margin-left: 25px;
}

#quicktabs-information_services_for_ .services-highlights {
    font-weight: bold;
    border-bottom-color: #BCD80A;
    border-bottom-style: solid;
    display: block;
    width: 190px;
    padding-bottom: 3px;
    border-bottom-width: 2px;
}

.see-more a {
  padding-right: 10px;
  font-weight: 600;
  font-size: 12px;
}

.see-more {
  margin-top: -10px;
  display: block;
}

#subject-search {
    margin-left: 483px;
    margin-top: -130px;
    position: absolute;
    width: 285px;
}

.pane-block-154 select {
  -moz-appearance: window;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: rgba(0, 0, 0, 0) url("../images/arrowdown-blue.png") no-repeat;
  background-position: right 10px bottom 10px;
  border: 0px solid #fff;
  color: #000;
  font-weight: 400;
  height: 30px;
  overflow: hidden;
  font-size: 100%;
  
//text-overflow: "";
//width: 100%;
}

.pane-block-154 div select {
  background-color: #c9e6f6;
  width: 100%;
}

.pane-block-154 option { 
  color: #000;
  background-color: #fff;
  font-size: 90%;
  text-indent: .3em;
  
}

#database-search {
    margin-left: 194px;
    margin-top: -130px;
    position: absolute;
    width: 280px;
}

#database-search select, #subject-search select {
    -moz-appearance: window;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: rgba(0, 0, 0, 0) url("../images/arrowdown-white.png") no-repeat;
    background-position: right 10px bottom 10px;
    border: 0px solid #fff;
    color: #fff;
    font-weight: 400;
    height: 30px;
    overflow: hidden;
    padding: 0;
    text-indent: 0.3em;
    //text-overflow: "";
    //width: 100%;
}

#database-search select img, #subject-search select img {
  padding-right: 5px;
}


#database-search option, #subject-search option { 
  color: #000;
  background-color: #fff;
  font-size: 80%;
  text-indent: .3em;
  
}

#dropdowns div select {
    background-color: #2F87CD;
    width: 100%;
    border: 1px ridge #fff;
}

#dropdowns select option {
}

.brenham-sidebar {
  width: 30%;
}

.webb-sidebar {
  width: 30%;
}

.pane-library-exhibits .view-id-library_exhibits img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 22px;
    padding-top: 14px;
}

.webb-content-column2 .pane-block-104 p img {
  display: none;
}

#featured-exhibit {
}

.webb-sidebar-inner {
    margin-top: -25px;
}

.pane-custom.pane-1 .pane-title {
    margin-top: -33px;
    padding-bottom: 10px;
    text-indent: -14px;
}

 
.block-accordion-menu .has-children.ui-state-active, .block-accordion-menu .has-children.active-trail {
  font-weight: bold;
}

#faq-highlight #div1, #faq-highlight #div2, #faq-highlight #div3, #faq-highlight #div4, #faq-highlight #div5, #faq-highlight #div6, #faq-highlight #div7, #faq-highlight #div8, #faq-highlight #div9, #faq-highlight #div10, #faq-highlight #div11, #faq-highlight #div12, #faq-highlight #div13, #faq-highlight #div14, #faq-highlight #div15, #faq-highlight #div16, #faq-highlight #div17, #faq-highlight #div18, #faq-highlight #div19, #faq-highlight #div20 {
    background-color: #ececec;
    margin: 10px;
    padding: 3px;
}

.tb-megamenu a {
  text-decoration: none;
}

.front .tb-megamenu .nav, .front .tb-megamenu .tb-block ul, .front .tb-megamenu .tb-block .nav {
    margin-left: 227px;
    margin-top: -292px;
    padding: 0;
}

.not-front .tb-megamenu .nav, .not-front .tb-megamenu .tb-block ul, .not-front .tb-megamenu .tb-block .nav {
    margin-left: 227px;
    margin-top: -101px;
    padding: 0;
}

.tb-megamenu .dropdown-menu a {
    color: #0070b6;
}

.tb-megamenu .dropdown-menu .active .mega-nav .mega-group > .mega-group-title {
  color: #0083d6 !important;
}

.tb-megamenu.style-blue  .nav > .active > a,
.tb-megamenu.style-blue  .nav > .active > a:hover,
.tb-megamenu.style-blue  .nav > .active > a:focus {
  color: #fff;
  text-shadow: none;
  background-color: #0083d6 !important;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.tb-megamenu.style-blue  .nav > li > a {
  border-right: 1px solid #fff !important;
}

.tb-megamenu.style-blue  .nav > li.dropdown.open.active > a:hover,
.tb-megamenu.style-blue  .nav > li.dropdown.open.active > a:focus {
  color: #222222 !important;
}

.wide-menu-block {
  height: 80px;
}

.megamenu-table {
  height: 80px;
  margin-top: -33px;
}

.tb-megamenu.style-blue .nav li.dropdown.active > .dropdown-toggle, .tb-megamenu.style-blue .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #bad80a !important;
}

.tb-megamenu-item .tb-megamenu-submenu {
  padding-top: 5px;
  width: 100% !important;
}

//.tb-megamenu .dropdown-submenu > .dropdown-menu {
//  width: 110% !important;
//}

.tb-megamenu .nav > li > a {
  padding: 5px 18px !important;
}

.block-accordion-menu .active-trail {
    background-color: #bad80a !important;
}

//.mega-dropdown-inner {
//    padding-top: 3px;
//}


.brenham-sidebar-inner {
  margin-top: -25px;
}


.block-accordion-menu h4 {
    border-bottom: 2px solid #003f87;
    padding: 3px;
    font-size: 130%;
}

//.accordion-link.separator {
//    margin-bottom: -15px;
//    margin-top: -15px;
//    padding-bottom: 0;
//    padding-top: 0;
//    margin-left: -35px;
//}

//.accordion-link.nolink {
//    font-weight: bold;
//    margin-left: -5px;
//}

.tb-megamenu.style-blue .nav li.dropdown.active > .dropdown-toggle, .tb-megamenu.style-blue .nav li.dropdown.open.active > .dropdown-toggle {
  color: #222222;
}

.hours-room p {
    border-bottom: 1px solid;
    padding-bottom: 2px;
}
.chat-room {
    border-bottom: medium none !important;
    margin-top: -9px !important;
}

#main-menu {
    display: none;
  }
  
.s-lc-timetxt {
  font-variant-caps: petite-caps;
  font-weight: 600;
}
  
.s-lc-time, .s-lc-h-excep, .s-lc-closed, .s-lc-timetxt {
    color: #000;
    //font-size: .9em;
}

.s-lc-closed {
  padding-right: 15px;
}

#mobile-info-svs {
  display: none;
}

.block-accordion-menu .has-children .accordion-link {
    margin-right: 3.2em;
}

.block-accordion-menu .has-children .ui-icon {
  right: 1em;
}

.view-news-blurb-for-home-page .pager-next.last {
    position: absolute;
    right: 5%;
    top: 60%;
    background-color: #ececec;
    border: 1px solid #0083d6;
    padding-bottom: 3px !important;
}

.view-news-blurb-for-home-page .pager-previous.first {
    left: 5%;
    position: absolute;
    top: 60%;
    background-color: #ececec;
    border: 1px solid #0083d6;
    padding-bottom: 3px !important;
}

.view-news-blurb-for-home-page .pager-current {
    display: none !important;
}

.pane-news-blurb-for-home-page table {
    margin-left: auto !important;
    margin-right: auto !important;
    background-color: #e0e0e0 !important;
}

.pane-news-blurb-for-home-page .view-content {
  background-color: #e0e0e0 !important;
}

.pane-news-blurb-for-home-page td {
    padding: 0.15em !important;
    background-color: #e0e0e0 !important;
}

.pane-news-blurb-for-home-page {
    background-color: #e0e0e0 !important;
    padding: 20px;
}

.pane-news-blurb-for-home-page .pane-title {
    text-indent: 10%;
}

.view-news-blurb-for-home-page .item-list .pager a:hover {
  color: fff !important;
  background-color: #0083D6;
  padding: 0px 2px 1px 2px !important;
}

.pager-next.last a:hover, .pager-previous.first a:hover {
  color: #fff !important;
}

.image-float-staff img {
  float: left;
  margin: 20px;
}

hr.staffdir-hr {
  border-top: .1em solid #ececec;
}

.pane-library-exhibits-panel-pane-1 .pane-title, .pane-library-exhibits-panel-pane-2 .pane-title, .pane-library-exhibits-panel-pane-3 .pane-title, .pane-library-exhibits-panel-pane-4 .pane-title, .pane-library-exhibits-panel-pane-5 .pane-title, .pane-library-exhibits-panel-pane-6 .pane-title, .pane-library-exhibits-panel-pane-8 .pane-title {
  margin-top: -33px;
  text-indent: -10px;
}

.view-id-library_exhibits.view-display-id-panel_pane_1, .view-id-library_exhibits.view-display-id-panel_pane_2, .view-id-library_exhibits.view-display-id-panel_pane_3, .view-id-library_exhibits.view-display-id-panel_pane_4, .view-id-library_exhibits.view-display-id-panel_pane_5, .view-id-library_exhibits.view-display-id-panel_pane_6 {
  margin-top: -12px;
}

#block-accordion-menu-49 > h4 {
    font-size: 125%;
}

.three-things-border {
  background-color: #0083D6;
  border-radius: 30px;
  height: 40px;
  margin-left: -15px;
  width: 358px;
}

.three-things-number {
  display: inline;
  margin-top: 2.5px;
  margin-left: 5px;
  float: left;
}

.threethings-introtext h1 {
  padding-left: 0 !important;
}


.three-things-title {
  color: white;
  display: inline;
  margin-left: 2px;
  float: left;
  margin-top: 10px;
  font-size: 82%;
}

.three-things-height {
  height:525px;
}

.view-display-id-panel_pane_4 .three-things-border {
  width: 100%;
}

.view-id-library_newsletter table {
  margin-top: 0.1em;
}

.three-things-author-image {
  float:left;
  padding-right:10px;
  padding-top:5px;
}

.node-library-exhibit .flexslider .slides img {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.node-library-exhibit .flexslider {
  border: 0 none;
  box-shadow: 0 0 0;
}

.node-library-exhibit .flexslider ul.slides {
  background-color: #fff;
}

.exhibit-image {
  clear: both;
  float: left;
  padding-right: 10px;
  margin-top:-25px;
  margin-bottom: 10px !important;
}

.exhibit-image-perm {
  padding-right: 10px;
  margin-top: 25px;
  margin-left: 10%;
  margin-bottom: 10px !important;
}

.exhibit-summary {
  height: auto;
  padding: 5px;
}

.exhibit-titles {
  clear: both;
  margin-left: 38.5%;
}

.exhibit-titles-perm {
  clear: both;
  margin-top: -20px;
}

.perm-footer p {
  text-align: center !important;
  font-size: medium !important;
  font-weight: 600;
  letter-spacing: 0.01em;
}

.perm-footer {
  background-color: #ececec;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  margin-top: 15px;
}

.view-cedar-rss .views-row {
  line-height: 23px;
  padding: 0.4em;
}

.view-cedar-rss .views-row-odd {
  background: #e9e9e9 none repeat scroll 0 0;
}

#block-accordion-menu-54 > h4 {
  font-size: 124%;
}

.view-cedar-rss .views-field.views-field-author {
  line-height: 0.8em;
  padding-top: 4px;
  font-size: 91%;
}

.view-cedar-rss .views-field.views-field-title-1 {
  font-size: 95%;
}

#edit-submitted-type-of-exhibit-1 {
    display: none;
}

label.option[for="edit-submitted-type-of-exhibit-1"] {
    display: none;
}

//TEMP FIX TO HIDE ACCESSIBILITY ALERT
//.menu-enabled, .enable-menu-alert {
  //display: none !important;
//}

.page-node-17386 div.messages--warning {
    display: none !important;
}

