/**
 * @file
 * Customization for Dual
 *
 */

@import "base";

//
//
// Styles for the site
//
//

.tabrow li::before {
    border-bottom-right-radius: 0;
    border-width: 0;
    box-shadow: 0 0;
    left: 0;
}
.tabrow li::before, .tabrow li::after {
    border: 0 none;
    bottom: 0;
    content: " ";
    height: 0;
    position: absolute;
    width: 0;
}
.tabrow li::after {
    border-bottom-left-radius: 0;
    border-width: 0;
    box-shadow: 0 0;
    right: 0;
}
.tabrow li::before, .tabrow li::after {
    border: 0 none;
    bottom: 0;
    content: " ";
    height: 0;
    position: absolute;
    width: 0;
}

.tabrow::before {
    border-bottom: 1px solid #aaa;
    bottom: 0;
    content: " ";
    left: 5px;
    position: absolute;
    width: 85%;
    z-index: 2;
}

.tab {
    font-size: 83%;
    min-width: 25px;
}

.tabrow li {
//  background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #c9e6f6 85%, #c9e6f6 90%) repeat scroll 0 0;
//  background: rgba(0, 0, 0, 0) -webkit-linear-gradient(center top , #c9e6f6 85%, #c9e6f6 90%) repeat scroll 0 0;
//  background: -webkit-linear-gradient(left, transparent 0%,#c9e6f6 50%,transparent 100%) repeat scroll 0 0;

  background: -webkit-gradient(linear, center top, center bottom, from(#c9e6f6), to(#c9e6f6));
  background: -webkit-linear-gradient(#c9e6f6, #c9e6f6);
  background: -moz-linear-gradient(#c9e6f6, #c9e6f6);
  background: -o-linear-gradient(#c9e6f6, #c9e6f6);
  background: -ms-linear-gradient(#c9e6f6, #c9e6f6);
  background: linear-gradient(#c9e6f6, #c9e6f6);
  border-bottom: 1px solid #2a87d3 !important;
  border-right: 1px solid #2a87d3 !important;
  border-top: 1px solid #2a87d3 !important;
  border-left: 1px solid #2a87d3 !important;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.4), 0 0 0 white inset;
    display: inline-block;
    margin: 0px -5px;
    padding: 0 17px;
    position: relative;
    text-shadow: 0 0 #fff;
    z-index: 0;
}

.tabrow {
    line-height: 32px;
    margin-left: 0;
    margin-top: 0;
}

.tabrow li.selected {
    background: #fff none repeat scroll 0 0;
    border-bottom-color: #fff;
    color: #333;
    font-weight: 600;
    z-index: 2;
}


#onesearchLogo {
//  margin-bottom: -5px;
//  margin-top: -10px;
  position: absolute;
  top: 3px;
  width: 145px;
  display: none;
}

#exlidSearchRibbon {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #2a87d3 !important;
    border-right: 1px solid #2a87d3 !important;
    border-top: 1px solid #2a87d3 !important;
    margin-left: 0;
    margin-right: auto;
    padding-right: 5px;
    width: 98%;
}


#scope-tabs {
    height: 31px;
    margin-left: -3px;
    margin-right: auto;
    margin-top: 0;
}

#search_field {
    background: #fff none repeat scroll 0 0;
    border-bottom: 0 none;
    border-left: 1px solid #2a87d3 !important;
    border-right: 0 none;
    border-top: 0 none;
    color: #444;
    font-size: 14px;
    font-weight: normal;
    height: 28px;
    padding: 5px;
    text-indent: 5px;
    width: 75%;
    z-index: 3;
}


.EXLSearchFieldRibbonFormSearchClear {
  float: right;
  top: -34px;
  width: 30px;
  position: relative;
  height: 2.6em;
  border-top: 0px none;
  background: #FFF;
}

#goButton {
    background: transparent url("//libweb.library.wwu.edu/onesearch/search-btn.png") no-repeat scroll 0 0 / 50px auto;
    border: medium none !important;
    box-shadow: none !important;
    cursor: pointer;
    float: right;
    height: 50px;
    margin-right: -14px;
    width: 58px;
}


#goButton:hover {
      display: inline-block;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: box-shadow;
      transition-property: box-shadow;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      box-shadow: 3px 3px 3px #000;

}

#exlidSearchTabs li:first-child {
    padding-bottom: 0px;
}

#tab0_tip {
    left: 20px;
}

#tab1_tip {
    left: 80px !important;
}

#tab2_tip {
    left: 175px;
}

#tab3_tip {
    left: 320px !important;
}

#search-box-standalone .tab {
  
}

#search-box-standalone .tabrow {
  height: 32px;
}

.tabtip {
    background: white url("//libweb.library.wwu.edu/primo/images/tooltips/tooltips.png") no-repeat scroll left top;
    border-bottom: 1px solid #333 !important;
    border-left: 1px solid #333 !important;
    border-right: 1px solid #333 !important;
    border-radius: 0;
    border-top: 0 none;
    box-shadow: 0 0 0 #333;
    color: #000 !important;
    display: none;
    font-family: "open sans",sans-serif !important;
    font-size: 12px;
    left: 15px;
    line-height: 25px;
    max-height: 250px;
    max-width: 250px;
    min-height: 50px;
    min-width: 100px;
    overflow-wrap: break-word;
    padding: 6px 16px 0;
    position: absolute;
    top: 31px;
    transition: opacity 0.5s ease 0s;
    z-index: 9999;
}


.box-shadow-outset {
      display: inline-block;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: box-shadow;
      transition-property: box-shadow;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      box-shadow: 3px 3px 3px #000;
  }


.hidden {
    display:  none;
}

#search-box-standalone {
   // background: #fff none repeat scroll 0 0;
    border: 0 solid #c9e6f6;
    font-size: 1em;
    height: 115px;
    left: 184px;
    margin-right: -9px;
    max-width: 1000px;
    min-width: 600px;
    padding-bottom: 35px;
    position: absolute;
    top: 70px;
    opacity: 0.95;
}

.catalogtext {
    color: #000;
    left: 145px;
    position: relative;
    top: -2px;
    display: none;
}


.onesearch-links-login {
  
}

.onesearch-links-login a:link, .onesearch-links-login a:visited {
 // color: #FFF;  
 // text-decoration: none;
}

.onesearch-links-login a:hover, .onesearch-links-login a:active {
  text-decoration: underline;
}

.onesearch-links {
    background: #ececec none repeat scroll 0 0;
    border-top: 0 outset #2a87d3;
    display: block;
    font-size: 13px;
    height: 55px;
    margin-left: 1px;
    margin-top: 0;
   // opacity: 0.95;
    padding-top: 15px;
    position: absolute;
    width: 95%;
    padding-left: 22px;
    text-indent: -30px;
    text-align: center;
}

.onesearch-links a {
 // color: #FFF;
  padding-left: 14px;
  padding-right :14px;
 // text-decoration: none;
 // text-shadow: 1px 1px 1px #444; 
}

.onesearch-links a:link, .onesearch-links a:visited {

}

.onesearch-links a:hover, .onesearch-links a:active {
text-decoration: underline;
}


.tab-button {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow: -1px 2px 9px #333;
  background: #D1D1D1;
  background: -o-linear-gradient(top, #f9f9f9 60%, #D1D1D1 100%);
  background: -ms-linear-gradient(top, #f9f9f9 60%, #D1D1D1 100%);
  background: -moz-linear-gradient(top, #f9f9f9 60%, #D1D1D1 100%);
  background: -webkit-linear-gradient(top, #f9f9f9 60%, #D1D1D1 100%);
  background: linear-gradient(top, #f9f9f9 60%, #D1D1D1 100%);
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    cursor:pointer;
    color:#666666;
    padding: 12px 14px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    margin: 11px;
}

.tab-button:hover {
    text-decoration:none;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
    background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
    background-color:#e9e9e9;
}

.tab-button:active {
    position:relative;
    top:1px;
}

