/* ****************************************************
                Mobile-size -> 480px
**************************************************** */
@media only screen and (min-width: 0px) and (max-width: 480px) {

/*start of jon changes*/

#newsitetitle {
    left: -260px;
}

.pane-block-154 h4 {
  margin-left: 0px;
  border: none;
  font-size: 100%;
}

.pane-block-154 table {
  width: 100% !important;
}

.pane-quicktabs-information-services-for .pane-title {
    border-top: 1px solid #ececec;
    border-bottom: none;
    font-size: 100%;
    margin-top: 10%;
    padding-top: 10px;
}

#quicktabs-information_services_for_ .services-highlights {
    display: none;
}

#quicktabs-information_services_for_ .block {
    line-height: 18px;
    margin-left: 23px;
    margin-top: -15px;
    width: 100%;
}

#quicktabs-information_services_for_ {
  display: none;
}

#mobile-info-svs {
  display: block;
  border: 4px 4px 0px 4px !important;
  border-color: #E9E9E9 !important;
  border-style: solid !important;
  padding: 10px !important;
  margin-bottom: 10px !important;
  margin-top: 3px !important;
  background: #edf6fb none repeat scroll 0 0;
  border: 1px solid #bfd0ff;
}


.see-more {
  margin-right: -10px;
  padding-top: 10px;
}

ul.quicktabs-tabs.quicktabs-style-navlist li.active a {
    text-indent: 2px;
}

.quicktabs-tabpage {
  font-size: 90%;
  text-align: right;
  width: 85%;
}

.front .tb-megamenu .nav, .front .tb-megamenu .tb-block ul, .front .tb-megamenu .tb-block .nav {
    margin-left: 0px;
    margin-top: 0px;
}

.not-front .tb-megamenu .nav, .not-front .tb-megamenu .tb-block ul, .not-front .tb-megamenu .tb-block .nav {
    margin-left: 0px;
    margin-top: 0px;
}

.mega-dropdown-inner {
    display: none;
}

.brenham-sidebar {
    width: 100%;
}

.webb-sidebar {
    width: 100%;
}

.webb-sidebar-inner {
  margin-bottom: 40px;
}

.pane-node-content .pane-title {
    margin-top: 5px;
    padding-bottom: 0px;
    text-indent: 0px;
}

#post-it-note-pos, #post-it-note-pos2 {
    display: none;
}


#post-it-note-pos-not-home {
    display: none;
}

#news-events-table td {
    float: left;
    margin-left: 20px;
}

#features-table td h4 {
  font-size: 100%;
  margin-top: 0px;
}

#features-table, #features-table td {
  float: left;
  padding-left: 11px;
  width: 93%;
}

#news-events-table td {
  float: left;
  margin-left: 20px;
}

#news-events-table td img {
  margin-left: 2%;
  
}

#features-table td img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#footer-left-heading {
    display: none;
}

.footer-left #footer-left-contact-info {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*start of small search box*/

#dropdowns {
  display: none;
}

.catalogtext {
  color: #fff !important;
  left: 80px !important;
  position: relative !important;
  top: 92px !important;
  display: inline-block !important;
  font-size: smaller !important;
  text-transform: lowercase !important;
}

#onesearchLogo {
  position: absolute !important;
  top: 95px !important;
  width: 13% !important;
  display: inline-block !important;
  background-color: #0083d6 !important;
  padding: 4px 254px 2px 4px !important;
}

#search-box-standalone {
  left: 10px !important;
  position: relative !important;
  max-width: 275px !important;
  clear: both !important;
  top: 0px !important;
}
  
#scope-tabs {
  font-size: .7em !important;
}

.onesearch-links {
  display: none !important;
}
  
#exlidSearchRibbon {
  width: 55% !important;
  max-width: 330px;
}

.tabrow {
  width: 52% !important;
  min-width: 324px;
}

.tabtip {
  display: none !important;
}

#search_field {
  font-size: 13px !important;
  text-indent: 0 !important;
  width: 80% !important;
}

.tabrow li {
  padding: 0px 10px 0px 2px !important;
}

.tabrow::before {
  width: 87% !important;
}

/*end of small search box*/

ul.quicktabs-tabs.quicktabs-style-navlist {
    background-color: #edf6fb;
    height: 235px;
    margin-top: 15px;
    font-size: small;
}

ul.quicktabs-tabs.quicktabs-style-navlist li.active a {
    border: none;
}

.quicktabs_main.quicktabs-style-navlist {
    background: #edf6fb none repeat scroll 0 0;
    border: none;
    height: 215px;
    
}

 .page {
    background: #ffffff;
  }

.tb-megamenu .nav-collapse {
    background: #003F87 none repeat scroll 0 0;
}

.western-header .mobile-main-nav {
    display: none;
}

.western-header nav {
    height: 108px;
}

.tb-megamenu::after {
  content: "menu";
  font-style: normal;
  text-transform: uppercase;
  font-size: 1em;
  padding-left: 35px;
  position: relative;
  top:-30px;
}

/*end of jon changes*/

 
  
}
/* ****************************************************
                Mobile-size -> 321px to 360px
**************************************************** */
@media all and (min-width: 321px) and (max-width: 360px) {

  #search-box-standalone {
     //display: none !important;
  }

}

/* ****************************************************
                Mobile-size -> 361px to 480px
**************************************************** */
@media all and (min-width: 361px) and (max-width: 480px) {

  #search-box-standalone {
     //display: none !important;
  }

}

/* ****************************************************
                Mobile-size -> 481px to 640px
**************************************************** */
@media all and (min-width: 481px) and (max-width: 640px) {

 #block-tb-megamenu-menu-main-nav {
     display: none;
   }
 
.tb-megamenu .nav-collapse {
    background: #003F87 none repeat scroll 0 0;
}
   
 
   .page {
     background: #ffffff;
  }

#dropdowns {
    display: none;
}


#search-box-standalone {
    left: 20px !important;
    position: relative !important;
    width: 50% !important;
    clear: both !important;
    top: 0px !important;
  }

.onesearch-links {
    background: #c9e6f6 !important;
    height: 30px !important;
    padding-top: 5px !important;
    border-bottom: 1px solid #2a87d3 !important;
        border-left: 1px solid #2a87d3 !important;
        border-right: 1px solid #2a87d3 !important;
    margin-left: 0px !important;
  }
  
.onesearch-links a {
  color: #000 !important;
  }
  
.tabtip {
  display: none !important;
  }
  
  .pane-block-154 h4 {
    margin-left: 0px;
    border: none;
    font-size: 100%;
  }
  
  .pane-block-154 table {
    width: 100% !important;
  }
  
  .pane-quicktabs-information-services-for .pane-title {
      border-top: 0px solid #ececec;
      border-bottom: none;
      font-size: 100%;
      margin-top: 0%;
      padding-top: 10px;
  }
  
  #quicktabs-information_services_for_ .services-highlights {
      display: none;
  }
  
  #quicktabs-information_services_for_ .block {
      width: 100%;
  }
  
  .see-more {
    margin-right: -10px;
  }
  
  .quicktabs-tabpage {
    font-size: 90%;
    text-align: right;
    width: 85%;
  }
  
  .front .tb-megamenu .nav, .front .tb-megamenu .tb-block ul, .front .tb-megamenu .tb-block .nav {
      margin-left: 0px;
      margin-top: 0px;
  }
  
  .not-front .tb-megamenu .nav, .not-front .tb-megamenu .tb-block ul, .not-front .tb-megamenu .tb-block .nav {
      margin-left: 0px;
      margin-top: 0px;
  }
  
  .tb-megamenu.style-blue {
    width: 50%;
  }
  
  .mega-dropdown-inner {
      display: none;
}
  
  .brenham-sidebar {
      width: 30%;
}

.webb-sidebar {
    width: 30%;
}

.western-header .mobile-main-nav {
    display: none;
}

.western-header nav {
    height: 108px;
}

#quicktabs-information_services_for_ {
  display: none;
}

#mobile-info-svs {
  display: block;
  border: 4px 4px 0px 4px !important;
  border-color: #E9E9E9 !important;
  border-style: solid !important;
  padding: 10px !important;
  margin-bottom: 10px !important;
  margin-top: 15px !important;
  background: #edf6fb none repeat scroll 0 0;
  border: 1px solid #bfd0ff;
}

.tb-megamenu::after {
  content: "menu";
  font-style: normal;
  text-transform: uppercase;
  font-size: 1em;
  padding-left: 35px;
  position: relative;
  top:-30px;
}
 
  
}
/* ****************************************************
              Mobile-size -> 641px to 800px
**************************************************** */
@media all and (min-width: 641px) and (max-width: 800px) {


  
  #block-tb-megamenu-menu-main-nav {
    display: none;
  }

  .tb-megamenu .nav-collapse {
      background: #003F87 none repeat scroll 0 0;
  }


  .page {
    background: #ffffff;
  }

#dropdowns {
    display: none;
}


#search-box-standalone {
    left: 70px !important;
    position: relative !important;
    width: 50% !important;
    clear: both !important;
    top: 0px !important;
  }

.onesearch-links {
    background: #c9e6f6 !important;
    height: 30px !important;
    padding-top: 5px !important;
    border-bottom: 1px solid #2a87d3 !important;
            border-left: 1px solid #2a87d3 !important;
            border-right: 1px solid #2a87d3 !important;
    margin-left: 0px !important;
  }
  
.onesearch-links a {
  color: #000 !important;
  }
  
.tabtip {
  display: none !important;
  }
  
  .pane-block-154 h4 {
    margin-left: 0px;
    border: none;
    font-size: 100%;
  }
  
  .pane-block-154 table {
    width: 100% !important;
  }
  
  .pane-quicktabs-information-services-for .pane-title {
        border-top: 0px solid #ececec;
        border-bottom: none;
        font-size: 100%;
        margin-top: 0%;
        padding-top: 10px;
  }
  
  #quicktabs-information_services_for_ .services-highlights {
      display: none;
  }
  
  #quicktabs-information_services_for_ .block {
      width: 100%;
  }
  
  .see-more {
    margin-right: -10px;
  }
  
  .quicktabs-tabpage {
    font-size: 90%;
    text-align: right;
    width: 85%;
  }
  
  .front .tb-megamenu .nav, .front .tb-megamenu .tb-block ul, .front .tb-megamenu .tb-block .nav {
      margin-left: 0px;
      margin-top: 0px;
  }
  
  .not-front .tb-megamenu .nav, .not-front .tb-megamenu .tb-block ul, .not-front .tb-megamenu .tb-block .nav {
      margin-left: 0px;
      margin-top: 0px;
  }
  
  .tb-megamenu.style-blue {
    width: 50%;
    
  }
  
  .mega-dropdown-inner {
      display: none;
}
  
  .brenham-sidebar {
      width: 30%;
}

.webb-sidebar {
    width: 30%;
}

.western-header .mobile-main-nav {
    display: none;
}

.western-header nav {
    height: 108px;
}

.tb-megamenu::after {
  content: "menu";
  font-style: normal;
  text-transform: uppercase;
  font-size: 1em;
  padding-left: 35px;
  position: relative;
  top:-30px;
}
  
}
/* ****************************************************
              Mobile-size <- 800px
**************************************************** */
@media all and (max-width: 800px) {

  .main-nav div div .menu li a {
    color: #fff;
  }

  #logoImage {
    display: none;
  }

  .page-title {
    display: none;
  }

  #block-tb-megamenu-menu-main-nav {
    display: none;
  }

  .main-nav .menu {
    width: 91%;
  }
  
  #post-it-note-pos, #post-it-note-pos2 {
      display: none;
  }
  
#post-it-note-pos-not-home {
    display: none;
}

.western-header .mobile-main-nav {
    display: none;
}

.western-header nav {
    height: 108px;
}

.tb-megamenu::after {
  content: "menu";
  font-style: normal;
  text-transform: uppercase;
  font-size: 1em;
  padding-left: 35px;
  position: relative;
  top:-30px;
}

}
/* ****************************************************
              Mobile-size -> 800px
**************************************************** */
@media all and (min-width: 801px) {

  #main-menu {
    display: none;
  }

  .footer-right {
    margin-left: 66.5%;
  }

  .burr-flipped-sidebar .pane-block-54 {
    margin-top: -28px;
  }
    

}


/* ****************************************************
              Mobile-size -> 768px-1024px
**************************************************** */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

#post-it-note-pos, #post-it-note-pos2 {
      right: 35px;
  }


  
.webb-sidebar {
    width: 30%;
}
  

  .brenham-sidebar {
      width: 30%;
}

#newsitetitle {
    left: -230px;
 }



}


/* ****************************************************
              END OF MOBILE
**************************************************** */